*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace ,sans-serif,;
}

body{
    background-image: url(/zzz-items/wp4874707-anime-scenery-4k-wallpapers.jpg);
    background-size: cover;
    /* background-position: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin-top: 30vh;
    width: 600px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    backdrop-filter: blur(10px);
    background: hsla(0, 0%, 100%, 0.05);
}

p{
    color: white;
    font-size: 5rem;
}