*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: sans-serif; */
}

body{
    background: hsl(0, 0%, 20%);
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: space-around;
    align-items: center;
    color: rgb(255, 255, 255);
}
.container{
    border-radius: 20px;
    background: hsl(0, 0%, 10%);
    min-width: 40vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 10px hsl(0, 0%, 30%);
}

.timer{
    margin: 30px auto;
    font-size: 3rem;
}

button{
    padding: 10px 25px;
    font-size: 1.5rem;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

#reset{
    background: rgb(255, 255, 0);
}
#start{
    background: rgb(31, 190, 36);
    color: rgb(255, 255, 255);
}
#stop{
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}

button:hover{
    opacity: 0.8;
}
button:active{
    opacity: 0.7;
}


