
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --primary-color: rgb(0, 191, 255);
    --secondary-color: blue;
}

.mvbg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    
    background: linear-gradient(to bottom,rgb(0, 0, 0), var(--primary-color), black);
    /* background: linear-gradient(to bottom,rgb(0, 0, 0), rgb(0, 179, 255), black); */
    z-index: 2;
    animation: animate 5s linear infinite;
}

.out-container{
    width: 100vw;
    overflow: hidden;
}

.contaier{
    display: flex;
    flex-wrap: wrap;
    background: rgb(0, 0, 0);
    height: 100vh;
    width: 120vw;
    overflow: hidden;
    z-index: 2;
}

@keyframes animate {
    0% {
        transform: translateY(-100%) ;
    }
    100%{
        transform: translateY(100%);
    }
}

span{
    height: 90px;
    width: 90px;
    background: #181818;
    margin: 1px;
    border-radius: 12px;
    /* border: 2px solid black; */
    /* transition: background-color 10s; */
    z-index: 5;
    /* position: relative; */
}

span:hover{
    transition: all 0.2s;
    background: var(--primary-color);
    transform: rotate(360deg);
    /* translate: -130px; */
    /* scale: 1.2; */
}



span:not(:hover){
    transition: all 3s;
    background: #181818;
}

.login-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    height: 60vh;
    width: 40vw;
    background: #0c0c0c;
    z-index: 99;
    top: 20%;
    left: 30%;
    border-radius: 20px;
    padding: 20px;
    box-shadow: -0.5em 0.5em 2em 0.05em rgb(39, 39, 39);
}

.header{
    color: var(--primary-color);
    margin-top: 20px;
    margin-bottom: 20px;
}

.form{
    /* display: flex; */
    width: 30vw;
}

.info{
    width: 30vw;
}

.input{
    width: 100%;
    padding: 10px;
    background-color: #303030;
    color: #cecece;
    border: none;
    margin-top: 20px;
    border-radius: 6px;
}

.forgot{
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
    margin-top: 20px;
}

.forgot a{
    text-decoration: none;
    color: var(--primary-color);
}

.login-btn{
    margin-top: 20px;
    width: 100%;
}

.login-btn button{
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: #ffffff;
    font-size: 20px;
}