*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background: hsl(0, 0%, 90%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}

#player, .computer,.result-card{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.result-card{
   align-items: center;
   justify-content: space-around;
}
.computer{
  align-items: end;
}

#player div, .computer div{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px
    
}

#player div img, .computer div img{
    height: 180px;
}

.computer div img{
    transform: rotateY(180deg);
}


.result-card h1{
    font-size: 2rem;
}

#choices{
    width: 100%;
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    font-size: 2rem;
}

#choices div{
    text-align: center;
}


#result{
    font-size: 2rem;
    color: black;
    border: 2px solid black;
    width: 250px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: white;
}

#score{
    margin-top: -50px;
}

#reset{
    background: hsl(203, 100%, 59%);
    border-radius: 20px;
    font-size: 2rem;
    padding: 10px 20px;
}

#reset:hover{
    background: hsla(203, 100%, 49%);
    cursor: pointer;
}

@keyframes slide-forward-player {
    0%{
        transform: translateX(0px) scale(1);
    }
    50%{
        transform: translateX(50px) scale(1.3);
    }
    100%{
        transform: translateX(250px) scale(1);
    }
}
@keyframes slide-forward-computer {
    0%{
        transform: translateX(0px) scale(1);
    }
    50%{
        transform: translateX(-50px) scale(1.3);
    }
    100%{
        transform: translateX(-250px) scale(1);
    }
}
@keyframes slide-back-player {
    0%{
        transform: translateX(250px);
    }
    
    100%{
        transform: translateX(0px);
    }
}
@keyframes slide-back-computer {
    0%{
        transform: translateX(-250px);
    }
    
    100%{
        transform: translateX(0px);
    }
}

.animate1{
    animation: slide-forward-player 1s forwards;
}
.animate2{
    animation: slide-back-player 1s forwards;
}
.animate3{
    animation: slide-forward-computer 1s forwards;
}
.animate4{
    animation: slide-back-computer 1s forwards;
}